aiohttp==3.8.1
aiosignal==1.2.0
alibabacloud-credentials==0.2.0
alibabacloud-ecs20140526==2.1.0
alibabacloud-endpoint-util==0.0.3
alibabacloud-gateway-spi==0.0.1
alibabacloud-openapi-util==0.1.6
alibabacloud-tea==0.2.8
alibabacloud-tea-openapi==0.3.1
alibabacloud-tea-util==0.3.5
aliyun-python-sdk-core==2.13.35
aliyun-python-sdk-ecs==4.24.13
async-timeout==4.0.2
attrs==21.4.0
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.9
cryptography==36.0.1
frozenlist==1.2.0
idna==3.3
jmespath==0.10.0
multidict==5.2.0
pycparser==2.21
requests==2.26.0
urllib3==1.26.7
yarl==1.7.2
